/* Individual Task Card */
.task-card-kh {
    background-color: #113b50;
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 100%; 
    max-width: 450px; 
  }
  
  .task-card-header-kh {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .tasks-kh {
    margin-top: 10px;
  }
  
  .task-kh {
    margin-bottom: 10px;
  }
  
  .task-kh p {
    margin-bottom: 5px;
  }
  
  .task-kh small {
    color: #bbb;
  }
  
