  .boxSB {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin: -30px;
  }
  
  .cardSB {
    display: flex;
    background-color: white;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 60%;
    height: 70%;

    margin: 0;
    padding-right: 0;
  }
  
  .profileSB {
    background: linear-gradient(135deg, #330066, #9970cc);
    color: white;
    text-align: center;
    padding: 0px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .profileSB img {
    border-radius: 50%;
    width: 40%;
    margin-bottom: 30px;
    margin-top: 50px;
  }
  
  .profileSB h2 {
    margin-bottom: 30px;
    font-size: 1.7rem; 
  }


  .profileSB a {
    color: #ffffff;
    text-decoration: none; 
    font-size: 25px;
    transition: color 0.3s ease; 
  }
  
  .profileSB a:hover {
    color:#570987;
  }
  

  .infoSB {
    padding: 40px 50px;
    margin: 0; 
    width: 100%; 
    box-sizing: border-box;
  }
  
  .infoSB h3 {
    font-size: 1.65rem; 
    font-weight: bold;
    color: #333;
    border-bottom: 0.2px solid #333;
    padding-bottom: 5px;
    margin-bottom: 20px;
  }
  
  .titleSB{
    margin-top: 40px;
  }

  .infoSB p {
    margin: 10px 0;
    font-size: 1.15rem; 
  }

  .card2SB{
    display: flex;
  }
  
  .card2SB > div {
    margin-right: 90px;
  }

  .card2SB > div:first-child {
    width: 40%;
  }
  
  .card2SB > div:last-child {
    margin-right: 0; 
  }
