  .box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin: -30px;
  }
  
  .card {
    display: flex;
    background-color: white;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 60%;
    height: 70%;

    margin: 0;
    padding-right: 0; /* Ensure no padding on right */
  }
  
  .profile {
    background: linear-gradient(135deg, #330066, #9970cc);
    color: white;
    text-align: center;
    padding: 0px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .profile img {
    border-radius: 50%;
    width: 40%;
    margin-bottom: 30px;
    margin-top: 50px;
  }
  
  .profile h2 {
    margin-bottom: 30px;
    font-size: 1.7rem; 
  }


  .profile a {
    color: #ffffff;
    text-decoration: none; /* Remove underline from links */
    font-size: 25px; /* Icon size */
    transition: color 0.3s ease; /* Smooth color transition */
  }
  
  .profile a:hover {
    color:#570987;
  }
  

  .info {
    padding: 40px 50px; /* Remove right padding */
    margin: 0; /* Ensure there's no external margin */
    width: 100%; /* Take up full width to remove right spacing */
    box-sizing: border-box; /* Include padding within width */
  }
  
  .info h3 {
    font-size: 1.65rem; 
    font-weight: bold;
    color: #333;
    border-bottom: 0.2px solid #333;
    padding-bottom: 5px;
    margin-bottom: 20px;
  }
  
  .title{
    margin-top: 40px;
  }

  .info p {
    margin: 10px 0;
    font-size: 1.15rem; 
  }

  .card2{
    display: flex;
  }
  
  .card2 > div {
    margin-right: 90px;
  }

  .card2 > div:first-child {
    width: 40%;
  }
  
  .card2 > div:last-child {
    margin-right: 0; 
  }
