
.update-user-containerSB {
  display: flex;
  flex-direction: column; 
  align-items: center;
  height: auto;
  margin: 20px;
}
  
 
  .update-user-cardSB {
    width: 400px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #fff;
  }
  
  
  .update-user-cardSB .profile-imgSB {
    width: 55%;
    border-radius: 50%;
    margin: 0 80px 15px;
  }

  .update-user-cardSB .card-bodySB {
    text-align: center;
    margin-bottom: 15px;
  }
  
  .update-user-cardSB .card-bodySB h5 {
    font-size: 1.25rem;
    margin: 0;
  }
  

  .update-user-cardSB .list-groupSB {
    padding: 0;
    list-style: none;
    margin: 0 0 20px 0;
  }
  
  .update-user-cardSB .list-group-itemSB {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    font-size: 1.1rem; 
  }
  
  .update-user-cardSB .input-fieldSB {
    width: 60%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 1rem; 
    outline: none; 
  }

  
 
  .update-user-cardSB .save-btnSB{
    display: inline-block;
    width: 100%;
    padding: 10px;
    background: linear-gradient(135deg, #330066, #9970cc);
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .update-user-cardSB .logout-btnSB {
    display: inline-block;
    width: 100%;
    padding: 10px;
    background: linear-gradient(135deg, #330066, #9970cc);
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
  }
  
  

  .update-user-cardSB .success-messageSB {
    background-color: #d4edda;
    color: #155724;
    padding: 10px;
    border-radius: 3px;
    margin-top: 10px;
    text-align: center;
    font-size: 0.9rem;
  }
  
  .update-user-cardSB .success-messageSB strong {
    color: #155724;
  }
  
  .error-messageSB {
    background-color: #edd4d4;
    color: #571515;
    padding: 10px;
    border-radius: 3px;
    margin-top: 10px;
    text-align: center;
    font-size: 0.9rem;
  }

  .error-messageSB strong {
    color: #571515;
  }




.react-tel-input .form-control {
  border: transparent;
  padding: 8px;
  padding-right: 0;
  width: 74%;
  font-size: 15px;
  margin-left: 40px ;
}

.react-tel-input .flag-dropdown {
  background-color: #f7f7f7;
  border-radius: 5px 0 0 5px;
  height: 80%;
  margin: 5px 0;
}

.react-tel-input .selected-flag {
  padding-left: 10px;
}

.react-tel-input .flag-dropdown:hover {
  background-color: #e0e0e0;
}


.react-tel-input .country-list {
  max-height: 200px;
  overflow-y: auto;
  background-color: #ffffff;
  border-radius: 5px;
}
