@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');
@import "~boxicons/css/boxicons.min.css";
@import '@fortawesome/fontawesome-free/css/all.min.css';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --poppins: 'Poppins', sans-serif;
  --lato: 'Lato', sans-serif;
}

body {
  background: #eee;
}


.App {
  display: flex;
  flex-direction: column; /* Stack components vertically */
  /* height: 100vh; sticky footer */
}

.main-content {
  flex: 1; /* Take up the remaining space beside the navbar */
  overflow: hidden;
}